/* Configuração geral do body */
body {
  background-image: linear-gradient(rgb(59, 88, 93), rgb(29, 40, 42));
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden; /* Evita rolagem horizontal */
  overflow-y: auto;   /* Permite rolagem vertical */
  box-sizing: border-box; /* Garante que padding e border não aumentem o tamanho total */
}

/* Ajustes para os botões para remover estilos padrão */
button {
  background-color: inherit;
  color: inherit;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit; /* Herda a fonte do body */
}

/* Remover efeitos de foco em botões */
button:focus {
  outline: none;
}

/* Organização do título */
#playlist-title {
  text-align: center;
  margin: 1em 0; /* Reduz espaço em branco ao redor */
}

/* Ajustes para o cover de imagem e garantir que o tamanho é responsivo */
#cover {
  width: 90vw; /* Mantém a largura relativa à tela para dispositivos menores */
  max-width: 450px; /* Define um limite máximo para telas grandes */
  margin-top: 1em;
  border-radius: 8px;
}

/* Organização do abaixo da capa */
#below-cover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw; /* Usar largura responsiva */
  max-width: 450px;
  margin: 1.6em 0 1em;
}

/* Organização dos botões de controle */
#button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  max-width: 450px;
}

.button {
  font-size: 1.5em;
  cursor: pointer;
}

.button-navigate {
  font-size: 3em;
}

.button-biggest {
  font-size: 4em;
}

/* Barra de progresso */
#progress-container {
  width: 90vw;
  max-width: 450px;
  cursor: pointer;
  margin-top: 1em;
}

#progress-bar {
  background-color: rgb(139, 153, 156);
  height: 3px;
  width: 100%;
  border-radius: 15px;
}

#current-progress {
  --progress: 0%;
  background-color: white;
  height: inherit;
  width: var(--progress);
  border-radius: inherit;
}

/* Box de tempo */
#time-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: smaller;
  margin-top: 0.5em;
  width: 90vw;
  max-width: 450px;
}

/* Ativo o estado do botão ativo (por exemplo, like) */
.button-active {
  color: rgb(0, 183, 107);
}
